.planets {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.planet {
    border: 1px solid white;
    height: 200px;
    width: 200px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.planet:hover {
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
}

img {
    width: 50px;
}

body {
    background-image: url("../images/background.jpeg");
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
    display: inline;
}

.instructions {
    background-color: black;
    color: white;
    width: 700px;
    height: 220px;
    padding: 20px;
}

#result {
    background-color: black;
    color: white;
    padding: 20px;
    display: inline;
}

.wins-losses {
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px;
}

#previous {
    background-color: black;
    color: white;
    padding: 20px;
    width: 150px;
}